.DS_Store
.Rproj.user
.RData
.Ruserdata

# NEVER commit history, to avoid leaking passwords etc.
.Rhistory

# to ignore quarto assets that were added by rendering from ./src/qmd
/out/src/

# to ignore contents of a staging folder
/dev/

/.quarto/
